



.card-group{
    max-width: 380px;
    display: inline-flex;
    margin-left: 100px;
    margin-top: 30px;
}

.col-md-4{
    padding: 5px;
}

.img-view{
    width: 130px; 
    height: 240px; 
    padding: 5px;
}

.card-title{
    background-color: blanchedalmond;
}

.card-text{
    font-family: revature; 
    font-size: medium;
}